<!-- Begin head.ejs -->
  <title>Mobile Control Panel - <%- title %> </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="themes/less/bootstrap.css">
  <link rel="stylesheet" href="themes/style/delta.main.css" type="text/css">
  <link rel="stylesheet" href="themes/style/delta.grey.css" type="text/css">
  <link rel="stylesheet" href="themes/style/fullcalendar.css" type="text/css">
  <script src="themes/js/jquery.min.js" type="text/javascript"></script>
<!-- End head.ejs -->
