html(lang="zh-CN")
	head
		link(rel="stylesheet",href="home.css")
		title 编译打包工具
	body#about.alt.apidoc
		div#intro.interior
		div#content.clearfix
			div#column2.interior
				ul
					li
						a.home(href="/home") 主页
					li
						a.download(href="/zh-CN") 中文语言包
			div#column1.interior
				pre=contains.rightDisplay
